.header {
    background-color: rgb(34, 34, 153);
    color: white;
}

.mainDiv {
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
}

.eachPizza {
    width: 30%;
    height:fit-content;
    
}